﻿* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: black;
}


/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}



.navbar-header {
    overflow: hidden;
    background-color: #ff6a00;
}


.navbar-header__links li{
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    list-style: none;
    font-size: 17px;
}

    .navbar-header__links li:hover {
        background-color: #ddd;
        color: black;
    }

        .navbar-header__links li.active {
            background-color: #4CAF50;
            color: white;
        }

    .navbar-header__links .icon {
        display: none;
    }

@media screen and (max-width: 600px) {
    .navbar-header__links li:not(:first-child) {
        display: none;
    }

    .navbar-header__links li.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .navbar-header__links.responsive {
        position: relative;
    }

        .navbar-header__links.responsive .icon {
            position: absolute;
            right: 0;
            top: 0;
        }

        .navbar-header__links.responsive li {
            float: none;
            display: block;
            text-align: left;
            text-decoration: none;
        }
}