﻿@model Blog_MVC.Models.ClassAux.oList
@{
    ViewBag.Title = "Crear Post";
}

<h2>@ViewBag.Title</h2>

    <div class="row">
        <div class="col-md-12">

            @using (Html.BeginForm("Add", "Home", FormMethod.Post, new { role = "form", @class = "" }))
            {
                @Html.AntiForgeryToken()

                @Html.ValidationMessage("error", new { @class = "text-danger" })

                @Html.LabelFor(d => d.modelAdd.title)
                @Html.TextBoxFor(d => d.modelAdd.title, new { @class = "form-control" })
                @Html.ValidationMessage("title", new { @class = "text-danger" })<br />

                @Html.LabelFor(d => d.modelAdd.content)
                @Html.TextAreaFor(d => d.modelAdd.content, new { @class = "form-control" })
                @Html.ValidationMessage("content", new { @class = "text-danger" })<br />

                @Html.LabelFor(d => d.modelAdd.category)
                @Html.DropDownListFor(d => Model.valueDdl, new SelectList(Model.lstCat.Select(c => new { IdCat = c.id_c, Name = c.name_c }), "IdCat", "Name"), "Seleccione Categoria" , new { @class = "form-control" })
                @Html.ValidationMessage("category", new { @class = "text -danger" })<br/>

                <div style="text-align:left;">
                    <input type="submit" class="btn btn-success" value="Guardar" />
                </div>

            }

        </div>
    </div>