﻿@model List<Blog_MVC.Models.TableViewModels.PostTableViewModel>
@{
    ViewBag.Title = "Detalles";
}

<h2>@ViewBag.Title</h2>

<h2>@ViewBag.Error</h2>

<div class="row">
    <div class="col-lg-12">
        <table class="table table-striped table-hover">
            @foreach (var oElemento in Model)
            {
                <tr>
                    <td><b>@oElemento.title</b></td>
                    <td>
                        <input type="button" class="btn btn-primary" onclick="document.location.href='@Url.Content("~/Home/ViewPost/"+oElemento.id)'" value="Detalles" />
                        <input onclick="jsDelete(@oElemento.id);" type="button" value="Eliminar" class="btn btn-danger" />
                        <input onclick="document.location.href='@Url.Content("~/Home/Edit/"+oElemento.id)'" type="button" value="Editar" class="btn btn-default" />
                    </td>
                </tr>
            }
        </table>
    </div>
</div>

