﻿@model Blog_MVC.Models.ViewModels.EditPostViewModel
@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

<div class="row">
    <div class="col-md-12">

        @using (Html.BeginForm("Edit", "Home", FormMethod.Post, new { role = "form", @class = "" }))
        {
            @Html.HiddenFor(d => d.Id)
            @Html.AntiForgeryToken()

            @Html.ValidationMessage("error", new { @class = "text-danger" })

            @Html.LabelFor(d => d.title)
            @Html.TextBoxFor(d => d.title, new { @class = "form-control" })
            @Html.ValidationMessage("title", new { @class = "text-danger" })<br />

            @Html.LabelFor(d => d.content)
            @Html.TextAreaFor(d => d.content, new { @class = "form-control" })
            @Html.ValidationMessage("content", new { @class = "text-danger" })<br />

            @Html.LabelFor(d => d.sCategory)
            @Html.TextBoxFor(d => d.sCategory, new { @readonly = "readonly" })<br />
         
            <br />
            <div style="text-align:left;">
             <input type="submit" class="btn btn-success" value="Guardar" />
            </div>

        }

    </div>
</div>

