﻿@model Blog_MVC.Models.ViewModels.PostViewModel
@{
    ViewBag.Title = "Post";
}

<h2>@ViewBag.Title</h2>

<div class="row">
    <div class="col-md-12">
        
            @Html.LabelFor(d => d.title)
            @Html.TextBoxFor(d => d.title, new { @readonly = "readonly" })
            @Html.ValidationMessage("title", new { @class = "text-danger" })<br />
       
            @Html.LabelFor(d => d.content)
            @Html.TextAreaFor(d => d.content, new { @readonly = "readonly" })
            @Html.ValidationMessage("content", new { @class = "text-danger" })<br />
        
            @Html.LabelFor(d => d.sCategory)
            @Html.TextBoxFor(d => d.sCategory, new { @readonly = "readonly" })
            @Html.ValidationMessage("category", new { @class = "text -danger" })<br />
        
            @Html.LabelFor(d => d.date)
            @Html.TextBoxFor(d => d.date, new { @readonly = "readonly" })
            @Html.ValidationMessage("date", new { @class = "text -danger" })<br />
        </div>
    </div>
</div>
